<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="icon" href="https://cdn.auth0.com/blog/create-a-simple-and-stylish-node-express-app/favicon.ico?_ga=2.54723820.616946668.1591818978-1699231039.1591396782" type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#000000">
  <link rel="stylesheet" href="styles/style.css">
  <title>{{title}}</title>
</head>
<body>
  
  <div id="root">
    {{{body}}}
  </div>
    


</body>
</html>