<div class="view welcome">
  <h1 class="banner">
    Holy page
  </h1>

  <div class="message">
    <div class="title">
      <h3> Making the best</h3>
      <h1>Food for devs</h1>
    </div>
    <span class="details">
      Access the Yovani Portal
    </span>
  </div>

  <div class="nav-buttons">
    <a href="/user">
      <div class="nav-button">Just dive in</div>
    </a>
  </div>
</div>