<div class="view user-view">
  <h1 class="banner">
    {{user.name}}
  </h1>
  <div class="message">
    <h3>Making me the best</h3>
    <h1>My profile</h1>
    <pre class="details">{{toJSON user }}</pre>
  </div>
  <div class="nav-buttons">
    <a href="/users/logout">
      <div class="nav-button">
        Log out
      </div>
    </a>
  </div>
</div>